@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
	margin: 0;
	padding: 0;
	font-size: 17px;
	background-color: #f2f2f2;
}

.nav {
	font-family: "Roboto", sans-serif;
	height: 50px;
	background: #c7c7c7;
	padding-top: 8px;
	padding-left: 20px;
	margin-bottom: 20px;
}

h1 {
	margin: 0;
	padding: 3px 5px;
}

li {
	list-style: none;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	margin: 0 50px;
}

.poster {
	text-align: center;
	padding-top: 20px;
	animation: slideInFromleft 1s ease-in;
}

.details {
	padding-left: 23px;
	justify-content: left;
	animation: slideInFromright 1s ease-in;
}

.movie_wrapper {
	border-radius: 20px;
	/* width: 425px; */
	margin-bottom: 20px;
	word-wrap: break-word;
	background: #c7c7c7;
	padding: 5px;
}

.movie_wrapper:hover {
	background: white;
	transition: 0.2s ease-in;
}

/* Animations */
@keyframes slideInFromleft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromright {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromtop {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFrombottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateX(0);
	}
}

/* Media Query */

@media screen and (max-width: 1100px) {
	#container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 700px) {
	#container {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.movie_wrapper {
		width: 470px;
	}
}

@media screen and (max-width: 550px) {
	.movie_wrapper {
		width: 320px;
	}
	.poster {
		animation: slideInFromtop 1s ease-in;
	}
	.details {
		padding: 0;
		animation: slideInFrombottom 1s ease-in;
	}
}

@media screen and (max-width: 400px) {
	.movie_wrapper {
		width: 280px;
	}
	img {
		height: 315px;
		width: 250px;
	}
	.poster {
		animation: slideInFromtop 1s ease-in;
	}
	.details {
		padding: 0;
		animation: slideInFrombottom 1s ease-in;
	}
}
